# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.FormExperiments.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\_WORK\REPO_GIT_HUB\FormExperiments\.idea\.idea.FormExperiments\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
