@page "/ColumnsExamplesPage"
<h3>ColumnsExamplesPage</h3>


<div class="row">

    <div class="col-sm-12">

        <div class="form-row">

            <div class="col-3">

                <div class="form-group row">

                    <label for="r1c1" class="col-sm-4 col-form-label-sm">R1C1</label>
                    <div class="col-sm-8">
                        <input id="r1c1" type="text" class="form-control form-control-sm"/>
                    </div>

                </div>

            </div>

            <div class="col-2">

                <div class="form-group row">

                    <label for="r1c2" class="col-sm-4 col-form-label-sm">R1C2</label>
                    <div class="col-sm-8">
                        <input id="r1c2" type="text" class="form-control form-control-sm"/>
                    </div>

                </div>

            </div>

            <div class="col">

                <div class="form-group row">

                    <label for="r1c3" class="col-sm-4 col-form-label-sm">R1C3</label>
                    <div class="col-sm-8">
                        <input id="r1c3" type="text" class="form-control form-control-sm"/>
                    </div>

                </div>

            </div>

        </div>


    </div>

</div>